* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

#top-image {
  width: 348px;
  margin-bottom: 72px;
}

main {
  width: 592px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}


h1 {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
}

h1 span {
  font-weight: bold;
}

span,
a {
  color: #ff9900;
}

footer {
  margin-top: 72px;
}

p,
footer {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
}

footer a + a {
  margin-left: 28px;
}

footer a {
  text-decoration: none;
}

.line {
  width: 568px;
  height: 0;
  margin: 0 auto 8px;
  border: 1px solid #ECEFF2;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}
